<%- include('./layout') %>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>

<!--内容区-->
<div class="wrapper">
    <div class="message-list">
        <% for(var i = 0;i<data.length;i++){ %>
            <div class="message-item" >
                <span class="userName"><%=data[i].userName%></span>
                <span>第<%=data.length - i%>楼</span>
                <div class="message-content">
                    <%-data[i].content%>
                </div>
                <div class="message-option">
                    <span><%=data[i].createTime%></span>
                    <!-- <span>回复</span> -->
                    <span id="delMessage" style="cursor: pointer;">删除</span>
                </div>
                <!-- <div class="message-reply">
                    <div>

                    </div>
                </div> -->
            </div>
        <%}%>
    </div>
    <div class="editor-wrapper">
        <div>
            <label for="">用户名</label>
            <input type="text" id="userName">
        </div>
        <div class="editor">
            <label for="" >留言内容</label>
            <span id="editor"></span>
        </div>
        <div class="btn-group">
            <button id="submit">提交</button>
        </div>
    </div>
    
</div>

<script>
    let E = window.wangEditor;
    let editor = new E('#editor');
    editor.create();
    // $.post('/message/getMessageList',{'state':1},(data) =>{ 
    //     console.log(data); 
    // },'json')

    // 删除留言
    $('#delMessage').bind('click',()=>{
        console.log(3333333333);
    })

    // 新增
    $('#submit').bind('click',()=>{
        let userName = $('#userName').val();
        let content = editor.txt.html();
        if(userName && content){
            // 请求接口
            $.post('/message/addNewMessage',{'userName':userName,'content':content,'state':1},(data) =>{
                let info = `${userName}发表了一条留言！`
                webSocket(info);
                // location.reload();
            },'json')
        }else{
            alert('用户名和内容不能为空')
        }
    })

    function webSocket(message){
        var ws = new WebSocket("ws://192.168.121.23:8181");
        
        ws.onopen = function() {
            // Web Socket 已连接上，使用 send() 方法发送数据
            console.log(message);
            ws.send(message);
        };
        
        ws.onmessage = function (evt) { 
            var received_msg = JSON.parse(evt.data);
            console.log(received_msg);
            // alert("数据已接收...");
        };
        
        ws.onclose = function() { 
            // 关闭 websocket
            alert("连接已关闭..."); 
        };
    }
</script>